@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #222;
  padding-bottom: 50px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.nav {
  position: fixed;
  background-color: rgb(5, 188, 249);
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  transition: all 0.3s ease-in-out;
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav a {
  color: rgb(226, 242, 6);
  text-decoration: none;
  padding: 20px 30px;
  transition: all 0.3s ease-in-out;
  font-size: large;
}

.nav.active {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.nav.active a {
  color: #000;
}

.nav.active .container {
  padding: 10px 0;
}

.nav a.current,
.nav a:hover {
  color: #c0392b;
  font-weight: bold;
}

.hero {
  background-image: url('https://img.zcool.cn/community/01c96b5544a19f0000019ae988165b.jpg@1280w_1l_2o_100sh.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  z-index: -2;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.hero h1 {
  font-size: 46px;
  margin: -20px 0 20px;
}

.hero p {
  font-size: 20px;
  letter-spacing: 1px;
}

.content h2,
.content h3 {
  font-size: 150%;
  margin: 20px 0;
}

.content p {
  color: #555;
  line-height: 30px;
  letter-spacing: 1.2px;
}

.button
{
  display: inline-block;
  margin-top: 2em;
  padding: 0.8em 2em;
  background:powderblue;
  line-height: 1.8em;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 1em;
  color: #FFF;
}

.product-tile-footer {
  padding: 15px 15px 0px 15px;
  overflow: auto;
}

.signout{
    float: right;
    background-color: #000000;
    color: #ff0000;
    height: 70px;
    width: 100px;
    display: block;
  }

  #product-grid .txt-heading {
    margin-bottom: 18px;
  }
  
  .product-item {
    float: left;
    background: #ffffff;
    margin: 30px 30px 0px 0px;
    border: #E0E0E0 1px solid;
  }
  
  .product-image {
    height: 180px;
    width: 320px;
    background-color: #FFF;
    text-align: center;
  }
  
  .clear-float {
    clear: both;
  }
  
  .demo-input-box {
    border-radius: 2px;
    border: #CCC 1px solid;
    padding: 2px 1px;
  }
  
  .tbl-cart {
    font-size: 0.9em;
  }
  
  .tbl-cart th {
    font-weight: normal;
  }
  
  .product-title {
    margin-bottom: 20px;
  }
  
  .product-price {
    float:left;
  }
  
  .cart-action {
    float: right;
  }
  
  .product-quantity {
      padding: 5px 10px;
      border-radius: 3px;
      border: #E0E0E0 1px solid;
  }
  
  .product-tile-footer {
      padding: 15px 15px 0px 15px;
      overflow: auto;
  }

  #btnEmpty {
    background-color: #ffffff;
    border: #d00000 1px solid;
    padding: 5px 10px;
    color: #d00000;
    float: right;
    text-decoration: none;
    border-radius: 3px;
    margin: 10px 0px;
  }
  
  .btnAddAction {
      padding: 5px 10px;
      margin-left: 5px;
      background-color: #efefef;
      border: #E0E0E0 1px solid;
      color: #211a1a;
      float: right;
      text-decoration: none;
      border-radius: 3px;
      cursor: pointer;
  }


  body {
    font-family: Arial;
    color: #211a1a;
    font-size: 0.9em;
  }
  
  #shopping-cart {
    margin: 40px;
  }
  
  #product-grid {
    margin: 40px;
  }
  
  #shopping-cart table {
    width: 100%;
    background-color: #F0F0F0;
  }
  
  #shopping-cart table td {
    background-color: #FFFFFF;
  }
  
  .txt-heading {
    color: #211a1a;
    border-bottom: 1px solid #E0E0E0;
    overflow: auto;
  }
  
  .txt-heading2 {
    color: #211a1a;
    border-bottom: 10px solid #E0E0E0;
    overflow: auto;
  }
  
  #btnEmpty {
    background-color: #ffffff;
    border: #d00000 1px solid;
    padding: 5px 10px;
    color: #d00000;
    float: right;
    text-decoration: none;
    border-radius: 3px;
    margin: 10px 0px;
  }
  
  .btnAddAction {
      padding: 5px 10px;
      margin-left: 5px;
      background-color: #efefef;
      border: #E0E0E0 1px solid;
      color: #211a1a;
      float: right;
      text-decoration: none;
      border-radius: 3px;
      cursor: pointer;
  }
  
  #product-grid .txt-heading {
    margin-bottom: 18px;
  }
  
  .product-item {
    float: left;
    background: #ffffff;
    margin: 30px 30px 0px 0px;
    border: #E0E0E0 1px solid;
  }
  
  .product-image {
    height: 155px;
    width: 250px;
    background-color: #FFF;
  }
  
  .clear-float {
    clear: both;
  }
  
  .demo-input-box {
    border-radius: 2px;
    border: #CCC 1px solid;
    padding: 2px 1px;
  }
  
  .tbl-cart {
    font-size: 0.9em;
  }
  
  .tbl-cart th {
    font-weight: normal;
  }
  
  .product-title {
    margin-bottom: 20px;
  }
  
  .product-price {
    float:left;
  }
  
  .cart-action {
    float: right;
  }
  
  .product-quantity {
      padding: 5px 10px;
      border-radius: 3px;
      border: #E0E0E0 1px solid;
  }
  
  .product-tile-footer {
      padding: 15px 15px 0px 15px;
      overflow: auto;
  }
  
  .cart-item-image {
    width: 30px;
      height: 30px;
      border-radius: 50%;
      border: #E0E0E0 1px solid;
      padding: 5px;
      vertical-align: middle;
      margin-right: 15px;
  }
  .no-records {
    text-align: center;
    clear: both;
    margin: 38px 0px;
  }
  
  body
	{
		margin-right: auto;
		padding: 0px;
		background-color:#7af17e;
		font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		font-size: 12pt;
		color: rgba(248, 9, 9, 0.6);
	}